name: Continuous Integration

on:
  push:
    branches:
      - development
      - main
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9.2"

      - name: setup poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: "1.1.4"

      - name: setup project dependencies
        run: poetry install

      - name: run quality jobs
        run: ./scripts/quality.sh

      - name: run unit tests and collect code coverage
        run: ./scripts/tests.sh

      - name: upload code coverage
        uses: codecov/codecov-action@v1
        with:
          files: ./tests/build/coverage.xml
